$font_10: 10px;
$font_13: 13px;
$font_16: 16px;

$font_family_pos: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
$background_pos_image: url(/pos_retail/static/src/imgs/pos_home.svg), linear-gradient(to right bottom, #ffffff, #aaaaaa);

$background: #999999;
$primary_color: #6EC89B;
$secondary_color: #6EC89B;
$three_color: #eee;
$border_color : #999999;

$base_color: #aaaaaa;
$border-radius:10px;
$border-radius-seachbox: 10px;

$box_shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$box_shadow_low: 0 0px 1px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.22);
